/* .input{
    display: flex;
    width: 100%;
    flex-direction: column;
} */
.left{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.right{
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.input{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input input{
    min-width: 300px;
}

.error{
    color: var(--errorColor);
}
