@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Display:wght@400..800&display=swap');

:root{
  --bgColor:#18251b;
  --errorColor:#d32f2f;
  --dashBg:#2a2a2a;
  --bodyBg:#202020;
  --grey-color:#7e7e7e;
}