.container{
    width: 100%;
    height: 100vh;
    padding: 2rem;
    background-color: #f2f2f2;
}
.heading{
    margin-bottom: 1rem;
}
.posts{
    width: 100%;
}
.post_box{
    width: 100%;
    min-height: 500px;
    max-height: 85vh;
    overflow: scroll;
    scrollbar-width: none;
}