.container{
    padding: 2rem;
    width: 100%;
    max-height: 100vh;
    overflow: scroll;
    scrollbar-width: none;;
    background-color: var(--dull-bg);
    font-family: "Wix Madefor Display", "Wix Madefor Display Fallback", monospace,
    serif;
}

.search{
    display: flex;
    align-items: center;
    justify-self: center
}

.content{
    width: 100%;
    display: flex;
    margin: 1rem 0;
}

.filter{
    min-width: 320px;
}

.result{
    width: 100%;
}