.sidebar_open{
    position: sticky;
    min-width: 150px;
    max-width: 250px;
    height: 100vh;
    background-color: var(--dashBg);
    color: var(--dash-gray-color);
    font-family: monospace;
    font-size: 18px;
    overflow-x: hidden;
    scrollbar-width: none;
    scroll-behavior: smooth;
    transition: width 2s smooth;
}
.sidebar_close{
    position: sticky;
    width: 50px;
    height: 100vh;
    background-color: var(--dashBg);
    color: var(--dash-gray-color);
    font-family: monospace;
    font-size: 18px;
    overflow: hidden;
    overflow-y: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    transition: width 2s smooth;
}

.open_btn{
    padding: 0.5rem 0;
    background-color: var(--dashBg);
    position: sticky;
    top: 0;
    z-index: 99;

}

.open_btn button{
    all: unset;
    cursor: pointer;
    display: block;
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
}

.item_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 2rem 0 1rem;
}
.item{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 12px;
    gap: 10px;
}

.icon{
    margin-top: 5px;
}