
.heading{
    font-size: large;
    font-weight: 600;
}
.skill_field{
    width: 50%;
}
.slider{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.field{
    margin: 0.5rem 0;
    width: 100%;
    display: flex;
    flex-direction: row;
    
    gap: 10px;
    
}