.container{
    padding: 2rem;
    width: 100%;
    max-height: 100vh;
    overflow: scroll;
    scrollbar-width: none;;
    font-family: "Wix Madefor Display", "Wix Madefor Display Fallback", monospace,
    serif;
}
.header{
    font-size: 1.8rem;
    font-weight: 600;
}

.filter_box{
    margin: 1rem 0;
    border: 1px solid var(--grey);
    border-radius: 10px;
    padding: 1rem;
}

.result_head{
    margin: 1rem 0;
    font-size: 1.6rem;
    font-weight: 600;
}

.count{
    margin: 1rem 0;
}