.container{
    width: 100%;
    max-height: 100vh;
    overflow: scroll;
    scrollbar-width: none;
    padding: 2rem;
    /* font-family: "Poppins",monospace,serif; */
    background-color: var(--dull-bg);
    font-family: "Wix Madefor Display", "Wix Madefor Display Fallback", monospace,
    serif;
}


.profile{
    display: flex;
    align-items: center;
    gap: 20px;
}

.image{
    width: 150px;
    height: 150px;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.content{
    margin-top: 1rem;
    width: 100%;
    border: 1px solid var(--grey);
    border-radius: 10px;
    background-color: white;
}

.btn{
    display: flex;
    gap: 20px;
    align-items: center;
    margin: 10px 0;
}

.btn button{
    all: unset;
    cursor: pointer;
}


.view{
    width: 100%;
    height: 100%;
    
}

.op{
    padding-bottom: 5px !important;
    border-bottom: 1px solid rgb(39, 39, 39) !important;
    font-weight: 600 !important;
}



.setting{
    margin: 1rem 0;
}

.setting_form{
    margin: 1rem 0;
}
.inp_form{
    padding: 0.5rem 0;
}

.setting_error ,.setting_success{
    padding: 0.5rem 0;
}