.container{
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    font-family: "Wix Madefor Display", "Wix Madefor Display Fallback", monospace,
    serif;
}

.image{
    width: 50%;
    height: 100%;
    background-color: white;
}
.image img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.form{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}