.heading{
    text-align: center;
    color: var(--grey-color);
    background-color: var(--dashBg);
    padding: 0.5rem 0;
    font-family: monospace,sans-serif,serif;
}
.content{
    width: 100%;
    padding: 1rem 2rem 2rem;
    min-height: 400px ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-transform: capitalize;

}

.detail{
    width: 100%;
   text-align: left;
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   gap: 10px;
}
.detail p{
    display: flex;
    align-items: center;
    gap: 10px;
}
.detail p span:first-child{
    font-weight: bold;
}


.button{
    display: flex;
    align-items: center;
    gap: 15px;
}
/* .button button:nth-child(1){
    color: white;
    background-color: rgb(142, 219, 25);
}

.button button:nth-child(2){
    color: white;
    background-color: var(--errorColor);
} */

.pending{
    background-color: rgb(250, 250, 76);
    color: white;
    text-transform: capitalize;
    font-size: 18px;
    padding: 1rem;
    margin: 15px 0;
}
.selected{
    background-color: rgb(82, 250, 76);
    color: white;
    text-transform: capitalize;
    font-size: 18px;
    padding: 1rem;
    margin: 15px 0;
}

.rejected{
    background-color: var(--errorColor);
    color: white;
    text-transform: capitalize;
    font-size: 18px;
    padding: 1rem;
    margin: 15px 0;
}
.active{
    color: rgb(42, 168, 42);
    text-transform: capitalize;
}
.expired{
    color: var(--errorColor);
}
.error{
    color: var(--errorColor);
}