.section{
    margin: 1.5rem 0;
}
.header{
    padding: 0.5rem 0;
    font-weight: 600;
}

.form_box{
    margin: 1rem 0;
}

.form{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
}