.container {
  width: 100%;
  height: 100vh;
  background-color: #e2e6e9;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: "Wix Madefor Display", "Wix Madefor Display Fallback", monospace,
    serif;
}
.container {
  background-image: url("../../../assets/left-bg.png"),
    url("../../../assets/right-bg.png");
    background-repeat: no-repeat,no-repeat;
    background-origin: border-box,border-box;
    background-position-x: 8%,95%;
    background-position-y: 40%, 40%;
}

.text {
  font-size: 64px;
  line-height: 80px;
  font-weight: 500;
  text-align: center;
  color: #1c2e3d;
}
.para {
  color: #5f6e7a;
  margin: 1rem 0;
  text-align: center;
}
.button {
  text-align: center;
}
.button button {
  background-color: #00a264;
  height: 50px;
  width: 160px;
  border-radius: 3rem;
  font-size: 1rem;
  line-height: 16px;
}
